/*
 * Copyright contributors to the Galasa project
 *
 * SPDX-License-Identifier: EPL-2.0
 */
package {{JavaPackage.Name}};

{{#Description}}
// {{.}}
{{/Description}}
public enum {{Name}} {
    {{#EnumValues}}
    {{.}},
    {{/EnumValues}}
}