bin/
execs/
.vscode/
githubcreds.yaml
harborcreds.yaml
mavencreds.yaml
**/*.zip
galasabuild-image/galasabld-linux-amd64
**/.DS_STORE

openapi2beans/build

**/.vscode
**/generated/*
**/target
*.jar
temp/
build/